@import "colors.less";

.breadcrumbs {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: @color-light-gray;

    &__item {
        font-size: .8571em; 

        &:first-child::before {
            display: none;
        }

        &__link {
            color: @color-text;
            text-decoration: underline;
        }

        &--active {
            font-weight: 400;
        }
    }

    .custom-list {
        padding-left: 0;
    }
}