@import "variables.less";
@import "colors.less";
@import "fonts.less";

body {
    color: @color-text;
    background-color: @color-background;
    font-size: @body-font-size;
    line-height: @body-line-height;
    font-family: @font-open-sans;
}

.container {
    @media (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    @media (max-width: 575px) {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.line-top-border {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../images/dots.png'); 
    background-repeat: repeat-x;
    background-position-y: top;
}

.line-topline {
    padding-bottom: 20px;
}

.line-bottomline {
    padding-bottom: 0;
}